.map-container {
  width: 100%;
  height: 100%;
}

.search-page-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  padding-right: 2em;
  margin: 1em;
  min-height: 17vh;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row;
  overflow: hidden;
}

.search-page-image {
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px 0px inset;
  border-radius: 2%;
  padding: 1em;
  margin: 1em;
  min-height: 80%;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}

.search-page-box {
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px 0px inset;
  /* 0.006 */
  border-radius: 2%;
  padding: 1em;
  margin: 1em;
  min-height: 80%;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}

.artist-page-top-container {
  border-color: blue;
  border-style: solid;
  display: flex;
  flex-direction: row;
}

.artist-page-bottom-container {
  border-color: blue;
  border-style: solid;
  display: flex;
  flex-direction: row;
}

.artist-page-concert-info {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  padding-right: 2em;
  margin: 1em;
  min-width: 40%;
  min-height: 100%;
  word-break: break-word;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.artist-page-map {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  margin: 1em;
  min-width: 50%;
  min-height: 100%;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.artist-page-bottom-left-container {
  border-color: red;
  border-style: solid;
  display: flex;
  width: 60%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.artist-page-setlist {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  padding-right: 2em;
  margin: 1em;
  min-height: 100%;
  width: 50%;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.artist-page-spotify {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  margin: 1em;
  min-height: 100%;
  width: 50%;
  background: #000;
  /* transition: all 300ms; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.artist-page-bottom-right-container {
  border-color: red;
  border-style: solid;
  display: flex;
  width: 40%;
  flex-direction: column;
}

.artist-page-upcoming-concerts {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  margin: 1em;
  min-height: 70%;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.artist-page-previous-concerts {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  margin: 1em;
  min-height: 70%;
  background: #fff;
  /* transition: all 300ms; */
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.prevConc {
  /* add a cursor */
  color: black;
  cursor: pointer;
}